 <!doctype html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gallerie- AM3B en Photos ! </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="index.html" class="logo">
			<img style="padding-left: 80px" src="images/logo.jpg" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="index.html">accueil</a>
			</li>
			<li>
				<a href="about.html">historique</a>
			</li>
			<li class="selected">
				<a href="gallery.html">galerie</a>
			</li>
			<li>
				<a href="blog.html">tournois</a>
			</li>
			<li>
				<a href="contact.html">contact</a>
			</li>
			<li>
				<a href="forum.html">forum</a>
			</li>
		</ul>
	</div>
	<div id="body" style="padding-left: 0px;">
		<h1><span>galerie</span></h1>
		<ul class="gallery">
			<li>
				<a href="images/m1.jpg" > <img id="m1" src="images/m1.jpg" alt="uhuh iuhuih ihui " style="margin-left: 0px;width:400px;height:267px;"></a>
			</li>
			<li>
					<img src="images/m2.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m3.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px; padding-left: 200px;";>
				</a>
			</li>
			<li>
					<img src="images/m4.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m5.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m6.png" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px; padding-left: 200px;";>
				</a>
			</li>
			
			<li>
					<img src="images/m8.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px;";>
				</a>
			</li>
			
			
			<li>
					<img src="images/m11.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
			
			
			<li>
					<img src="images/m16.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px; padding-left: 200px;";>
				</a>
			</li>
			<li>
					<img src="images/m17.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m18.jpg" alt=""; width=400px; height=267px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m13.jpg" alt=""; width=300px; height=300px; onclick="fonctionAgrandir()"; style="margin-left: 0px; padding-left: 200px;";>
				</a>
			</li>
			<li>
					<img src="images/m14.jpg" alt=""; width=300px; height=300px; onclick="fonctionAgrandir()"; style="margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m9.jpg" alt=""; width=267px; height=400px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m7.jpg" alt=""; width=267px; height=400px; onclick="fonctionAgrandir()"; style="margin-left: 0px; padding-left: 200px;";>
				</a>
			</li>
			<li>
					<img src="images/m10.jpg" alt=""; width=267px; height=400px; onclick="fonctionAgrandir()"; style="margin-left: 0px;";>
				</a>
			</li>
			<li>
					<img src="images/m12.jpg" alt=""; width=267px; height=400px; onclick="fonctionAgrandir()"; style="border-left-width: 50px; padding-left: 100px; margin-left: 0px;";>
				</a>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2023 by AM3B. All rights reserved.</p>
			<ul>
				
				<li>
					<a href="https://fr-fr.facebook.com/Association-M%C3%B6lkky-AM3B-248787288662693/" id="facebook">facebook</a>
				</li>
				<li>
				<p>Rejoingez nous sur Facebook!</p>
				<li/>
			</ul>
		</div>
	</div>
</body>
</html>
